.env
node_modules/
__pycache__/
data/raw_images/
*.log
*.sqlite3

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
